<ion-view view-title="Centro - Pinheiro">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="list card stable-bg">
            <div class="item item-avatar">
                <img src="img/arya.jpg">
                <h2>Pinheirinho</h2>
                <p>"Joffrey. Cersei. Ilyn Payne. Hound. Polliver. The Mountain."</p>
            </div>
            <div class="item item-body">
                The quickest way to a man's heart is through Arya's needle. She has two speeds: Walk and Kill, and is the reason why Waldo is still hiding.
                <p>
                    <a class="subdued">1 Like</a>
                    <a class="subdued">5 Comments</a>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-thumbsup"></i> Like
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-chatbox"></i> Comment
                </a>
                <a class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-share"></i> Share
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
