'<div class="content has-subheader">'+
   ' <div class="list animate-fade-slide-in-right">' +
       ' <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in done" style="transition-delay: 0.51s;">' +
           ' <h2>Ponto 9</h2>'+
           ' <p>5min caminhada</p>'+
       ' </a>'+
       ' <a class="item item-avatar item-icon-right waves-effect waves-button waves-dark in" style="transition-delay: 0.59s;">'+
           ' <h2>Ultimas Partidas</h2>'+
            '<p>15:00 - 15:06 - 15:12</p>'+
        '</a>'+
    '</div>'+
'</div>' +
