<ion-view view-title="Pinheiro / Centro">

    <ion-content ng-class="{expanded:isExpanded}">

    <ion-tabs class="ttabs-dark tabs-icon-top">
        <ion-tab title="Sabado" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        </ion-tab>
        <ion-tab title="Domingo" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <div class="list card stable-bg">
            <div class="item item-body">
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <div class="button-bar bar-dark">
                        <a class="button button-raised ink-dark">Manhã</a>
                        <a class="button button-raised ink-dark">Tarde</a>
                        <a class="button button-raised ink-dark">Noite</a>
                    </div>
                </div>
                <div class="item item-divider">
                    Domingo
                </div>
                <a class="item" href="#">
                    <div class="row header">
                        <div align="center" width="59" class="col">00:00</div>
                        <div align="center" width="59" class="col">05:02</div>
                        <div align="center" width="59" class="col">05:14</div>
                        <div align="center" width="59" class="col">05:24</div>
                        <div align="center" width="59" class="col">05:32</div>
                        <div align="center" width="59" class="col">05:40</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">05:48</div>
                        <div align="center" width="59" class="col">05:56</div>
                        <div align="center" width="59" class="col">06:04</div>
                        <div align="center" width="59" class="col">06:10</div>
                        <div align="center" width="59" class="col">06:16</div>
                        <div align="center" width="59" class="col">06:22</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">06:28</div>
                        <div align="center" width="59" class="col">06:32</div>
                        <div align="center" width="59" class="col">06:36</div>
                        <div align="center" width="59" class="col">06:40</div>
                        <div align="center" width="59" class="col">06:44</div>
                        <div align="center" width="59" class="col">06:48</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">06:52</div>
                        <div align="center" width="59" class="col">06:56</div>
                        <div align="center" width="59" class="col">07:00</div>
                        <div align="center" width="59" class="col">07:04</div>
                        <div align="center" width="59" class="col">07:08</div>
                        <div align="center" width="59" class="col">07:12</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">07:16</div>
                        <div align="center" width="59" class="col">07:20</div>
                        <div align="center" width="59" class="col">07:24</div>
                        <div align="center" width="59" class="col">07:28</div>
                        <div align="center" width="59" class="col">07:32</div>
                        <div align="center" width="59" class="col">07:36</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">07:40</div>
                        <div align="center" width="59" class="col">07:44</div>
                        <div align="center" width="59" class="col">07:48</div>
                        <div align="center" width="59" class="col">07:52</div>
                        <div align="center" width="59" class="col">07:56</div>
                        <div align="center" width="59" class="col">08:00</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">08:04</div>
                        <div align="center" width="59" class="col">08:08</div>
                        <div align="center" width="59" class="col">08:12</div>
                        <div align="center" width="59" class="col">08:16</div>
                        <div align="center" width="59" class="col">08:20</div>
                        <div align="center" width="59" class="col">08:24</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">08:28</div>
                        <div align="center" width="59" class="col">08:33</div>
                        <div align="center" width="59" class="col">08:38</div>
                        <div align="center" width="59" class="col">08:43</div>
                        <div align="center" width="59" class="col">08:48</div>
                        <div align="center" width="59" class="col">08:53</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">08:58</div>
                        <div align="center" width="59" class="col">09:03</div>
                        <div align="center" width="59" class="col">09:08</div>
                        <div align="center" width="59" class="col">09:13</div>
                        <div align="center" width="59" class="col">09:18</div>
                        <div align="center" width="59" class="col">09:23</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">09:28</div>
                        <div align="center" width="59" class="col">09:33</div>
                        <div align="center" width="59" class="col">09:38</div>
                        <div align="center" width="59" class="col">09:43</div>
                        <div align="center" width="59" class="col">09:48</div>
                        <div align="center" width="59" class="col">09:53</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">09:58</div>
                        <div align="center" width="59" class="col">10:03</div>
                        <div align="center" width="59" class="col">10:08</div>
                        <div align="center" width="59" class="col">10:13</div>
                        <div align="center" width="59" class="col">10:18</div>
                        <div align="center" width="59" class="col">10:23</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">10:28</div>
                        <div align="center" width="59" class="col">10:33</div>
                        <div align="center" width="59" class="col">10:38</div>
                        <div align="center" width="59" class="col">10:43</div>
                        <div align="center" width="59" class="col">10:48</div>
                        <div align="center" width="59" class="col">10:53</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">10:58</div>
                        <div align="center" width="59" class="col">11:03</div>
                        <div align="center" width="59" class="col">11:08</div>
                        <div align="center" width="59" class="col">11:13</div>
                        <div align="center" width="59" class="col">11:18</div>
                        <div align="center" width="59" class="col">11:23</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">11:28</div>
                        <div align="center" width="59" class="col">11:33</div>
                        <div align="center" width="59" class="col">11:38</div>
                        <div align="center" width="59" class="col">11:43</div>
                        <div align="center" width="59" class="col">11:48</div>
                        <div align="center" width="59" class="col">11:53</div>
                    </div>
                    <div class="row header">
                        <div align="center" width="59" class="col">11:58</div>
                        <div align="center" width="59" class="col">12:03</div>
                        <div align="center" width="59" class="col">12:08</div>
                        <div align="center" width="59" class="col">12:13</div>
                        <div align="center" width="59" class="col">12:18</div>
                        <div align="center" width="59" class="col">12:23</div>
                    </div>
                </a>
            </div>
        </div>
        </ion-tab>
        <ion-tab title="Semana" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        </ion-tab>
    </ion-tabs>
    </ion-content>



</ion-view>
