<ion-view view-title="Horarios">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
<!--         <div class="list">
            <a class="item item-avatar" ui-sref="app.schedulles-pinheiro"> <img src="img/material1.jpg">
                <h2>Pinehrinho - Centro</h2>
                <p>Clique para ver os horários</p>
            </a>
            <a class="item item-avatar" ui-sref="app.schedulles-centro-pinheiro"> <img src="img/material2.jpg">
                <h2>Centro - Pinehrinho</h2>
                <p>Clique para ver os horários</p>
            </a>
            <a class="item item-avatar" ui-sref="app.schedulles-prospera"> <img src="img/material3.jpg">
                <h2>Próspera - Centro</h2>
                 <p>Clique para ver os horários</p>
            </a>
            <a class="item item-avatar" ui-sref="app.schedulles-centro-prospera"> <img src="img/material3.jpg">
                <h2>Centro - Próspera</h2>
                 <p>Clique para ver os horários</p>
            </a>
        </div> -->
            <div class="list condensed-space no-padding animate-blinds done done done done">
                <div class="card dark-bg in" style="transition-delay: 0.13s;">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse" ui-sref="app.schedulles-pinheiro">
                        <h2>Pinheirinho - Centro</h2>
                        <p>Clique para ver os horários</p>
                        <img src="../img/perfil.jpg" style="transition-delay: 0.02s;">
                    </a>
                </div>
                <div class="card energized-bg in" style="transition-delay: 0.27s;" ui-sref="app.schedulles-prospera">
                    <a class="item clear-bg item-bg-image waves-effect waves-button waves-light has-mask-reverse">
                        <h2>Próspera - Centro</h2>
                        <p>Clique para ver os horários</p>
                        <img src="../img/perfil.jpg" style="transition-delay: 0.09s;">
                    </a>
                </div>


        </div>
    </ion-content>
</ion-view>
