<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Amarelinho</h1>
            </div>
        </div>
        <div class="list">
            <ion-md-input class="placeholder" placeholder="Usuário" highlight-color="balanced" type="text"></ion-md-input>
            <ion-md-input class="placeholder" placeholder="Senha" highlight-color="energized" type="password"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-raised button-full button-outline button-assertive ink">Login</button>
        </div>
<!--         <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
    </ion-content>
</ion-view>

<button class="button button-raised button-stable ink-dark">Risen Up</button>
<strong>FAB:</strong><br /> <button class="button button-fab button-balanced icon ion-leaf"></button> <button class="button button-fab button-assertive icon ion-bug"></button> <button class="button button-fab ink-dark button-calm icon ion-tshirt"></button> <button class="button button-fab button-dark icon ion-heart" data-ink-color="#ff0000" data-ink-opacity=".8"></button><br /><br /> <strong>RAISED:</strong><br /> <button class="button button-raised button-stable ink-dark">High Rider</button><br /><br /> <strong>FLAT:</strong> <br /><button class="button button-flat button-positive icon-left ion-outlet">Outlets = Emojis</button> <strong>FLAT:</strong> <br /><button class="button button-flat button-assertive">Clearly Awesome</button>
                