<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Amarelinho</h1>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="text" placeholder="Email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Senha</span>
                        <input type="text" placeholder="Senha">
                    </label>
                </div>
            </div>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full  button-raised  button-stable ink-dark">Login</button>
        </div>
        <!--         <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div> -->
    </ion-content>
</ion-view>
