<ion-view view-title="Mapa">
    <ion-content>
        <div id="map" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>
<nav mfb-menu position="bl" effect="zoomin" label="Ações" active-icon="ion-navicon" resting-icon="ion-navicon-round" toggling-method="click">
    <button mfb-button ng-click="MapCtrl.clickTest()" class="child" icon="ion-location" label="Pinheirinho"></button>
    <button mfb-button class="child" icon="ion-location" label="Centro"></button>
    <button mfb-button class="child" icon="ion-location" label="Próspera"></button>
</nav>
